@charset "utf-8";

h1, h2, h3, h4, h5 {color:#000000;font-size:12px;font-weight:700;}

.wrap {flex-wrap:wrap;display:-webkit-flex;display:flex;align-items:flex-start;justify-content:center;flex-direction:row;-webkit-flex-direction:row;box-sizing:border-box;width:100%;padding:100px 0;color:#666;line-height:1.5;}
.contents {padding:0 30px;}
.contents h1 {padding:10px;background-color:#eee;font-size:18px;}
.contents h2 {padding:5px;border-bottom:1px solid #ccc;font-size:15px;}
.contents h3 {padding:5px;font-size:13px;}
.contents h4 {padding:5px;}
.contents .cont {margin:20px 0;padding:5px;border:1px solid #ccc;}
.contents .txt_list {padding:5px;}
.contents .txt_list li strong {font-weight:700;}