@charset "utf-8";
@import url("https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css");
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 
font-family: 'Nanum Gothic Coding';
font-family: 'Nanum Gothic Coding', sans-serif;
font-family: 'Noto Sans KR';
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Lora';
font-family: 'Lora', sans-serif;
font-family: 'Pretendard';
font-family: 'Pretendard', sans-serif;
*/