<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head -->
    <script src="../../html/include/head.js"></script>
    <!-- // head -->
    
    <title>code</title>
</head>
<body data-theme="light">

    <!-- code_wrap -->
    <div class="code_wrap">
        <h1>code</h1>

        <!-- code_area -->
        <div class="code_tit">title</div>
        <div class="code_area" data-style="vertical">
            <!-- code_ui -->
            <div class="code_ui">
                <div class="code_ui_box">
                </div>
            </div>
            <!-- // code_ui -->
            <!-- code_view -->
            <div class="code_view"><div class="code_view_box"><textarea class="code_preview"></textarea></div></div>
            <!-- // code_view -->
        </div>
        <!-- // code_area -->

        <!-- code_area -->
        <div class="code_tit">title</div>
        <div class="code_area">
            <!-- code_ui -->
            <div class="code_ui">
                <div class="code_ui_box">
<style>
    .test strong {font-size:20px;font-weight:600;}
    .test p {color:#000279;font-size:13px;text-decoration:underline;}
</style>
<div class="test">
    <strong>code_ui text</strong>
    <p>css, html, javascript, jQuery</p>
</div>
                </div>
            </div>
            <!-- // code_ui -->
            <!-- code_view -->
            <div class="code_view"><div class="code_view_box"><textarea class="code_preview"></textarea></div></div>
            <!-- // code_view -->
        </div>
        <!-- // code_area -->
        
        <!-- code_area -->
        <div class="code_tit">title</div>
        <div class="code_area" data-style="vertical">
            <!-- code_ui -->
            <div class="code_ui">
                <div class="code_ui_box">
<style>
    
</style>
<script type="text/javascript">

</script>
                </div>
            </div>
            <!-- // code_ui -->
            <!-- code_view -->
            <div class="code_view"><div class="code_view_box"><textarea class="code_preview"></textarea></div></div>
            <!-- // code_view -->
        </div>
        <!-- // code_area -->

    </div>
    <!-- // code_wrap -->

    <!-- foot -->
    <script src="../../html/include/foot.js"></script>
    <!-- // foot -->
</body>
</html>