@charset "utf-8";

body,
html {
    height: 100%;
    overflow: hidden;
    background: #000;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blind {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    margin: -1px;
}

/* RESET */
button,fieldset,img {border: 0;}
body,button,input,select,td,textarea,th {font-family: AppleSDGothic, Apple-Gothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, sans-serif;}
table {border-collapse: collapse;border-spacing: 0;word-break: normal;}
input,textarea {-webkit-tap-highlight-color: transparent;}
a,a:active,a:hover {text-decoration: none;}
blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,select,td,textarea,th,ul {margin: 0;padding: 0;}
dl,li,menu,ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:after,blockquote:before,q:after,q:before {content: '';content: none;}
button,input,select,textarea {vertical-align: middle;}
button {background-color: transparent;cursor: pointer;}
address,caption,cite,code,dfn,em,var {font-style: normal;}
button::-moz-focus-inner {border: 0;padding: 0;}
input {background-image: none;}

/* BASE */
body {-webkit-text-size-adjust: none;background: #fff;word-break: keep-all;}
body,button,input,select,td,textarea,th {font-weight: 400;font-size: 12px;line-height: 1.5;color: #222;letter-spacing: -0.45px;}
input:checked[type='checkbox'] {background-color: #666;-webkit-appearance: checkbox;}
input[type='button'],
input[type='reset'],
input[type='text'],
input[type='password'],
input[type='submit'],
input[type='search'],
input[type='tel'],
input[type='email'] {-webkit-appearance: none;border-radius: 0;}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {-webkit-appearance: none;}
a[role='button'] {cursor:pointer;}
img {vertical-align: top;}
body,
#etoosHtmlBody {background-color:#fff;transition:background-color .15s ease-out;}
.hide {display:none;}
.ets_body {height:100%;}

@media only screen and (max-width:320px) {
}
@media only screen and (min-width:768px) {
}

/* MAIN */
.ets_wrap.main {
    padding-top: env(safe-area-inset-top) !important;
    padding-top: constant(safe-area-inset-top) !important;
    padding-right: env(safe-area-inset-right) !important;
    padding-right: constant(safe-area-inset-right) !important;
    padding-bottom: env(safe-area-inset-bottom) !important;
    padding-bottom: constant(safe-area-inset-bottom) !important;
    padding-left: env(safe-area-inset-left) !important;
    padding-left: constant(safe-area-inset-left) !important;
}

/* shorts */
.ets_wrap.main .main_shorts {overflow:hidden;}
.ets_wrap.main .main_shorts .btn_ico {position:relative;display:block;min-width:30px;margin:11px 0;color:#fff;font-size:12px;text-align:center;}
.ets_wrap.main .main_shorts .btn_ico .txt {display:block;padding-top:35px;}
.ets_wrap.main .main_shorts .btn_ico::before {position:absolute;left:50%;top:0;content:'';display:block;width:30px;height:30px;background-repeat:no-repeat;background-position:center center;background-size:30px auto;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.ets_wrap.main .main_shorts .shorts-feedback {overflow:hidden;position:absolute;z-index:3;top:100vh;top:100dvh;right:0;flex-wrap:wrap;display:flex;align-items:center;justify-content:center;flex-direction:column;box-sizing:border-box;width:64px;-webkit-transform:translateY(-388px);transform:translateY(-388px);}
.ets_wrap.main .main_shorts .shorts-feedback .mute-button {opacity:0;}
.ets_wrap.main .main_shorts .shorts-feedback .mute-button .txt:before {background-image:url('https://img.etoos.com/enp/front/2024/main/ic_volume.png');}
.ets_wrap.main .main_shorts .shorts-feedback .mute-button.mute .txt::before {background-image:url('https://img.etoos.com/enp/front/2024/main/ic_volume_mute.png');}
.ets_wrap.main .shorts_container {position:relative;display:flex;flex-direction:column;margin:0;padding:0;height:100%;height:100vh;background:#000;scroll-snap-type:y mandatory;scroll-snap-align:start;overflow-x:hidden;overflow-y:scroll;-ms-overflow-style:none;scrollbar-width:none;touch-action:pan-y;}
.ets_wrap.main .shorts_container * {box-sizing:border-box;}
.ets_wrap.main .shorts_container::-webkit-scrollbar {display:none;}
.ets_wrap.main .shorts_main {position:relative;display:flex;flex-direction:column;align-items:center;justify-content:center;background-color:#000;}
.ets_wrap.main .shorts_main .video-container {overflow:hidden;position:relative;width:100%;height:100vh;height:100dvh;scroll-snap-align:start;flex:0 0 100vh;display:flex;justify-content:center;align-items:center;}
.ets_wrap.main .shorts_main .video-container .video-box {width:100%;height:100%;}
.ets_wrap.main .shorts_main .video-container .video-box video {position:absolute;z-index:1;top:103px;left:50%;height:calc(100vh - 103px);height:calc(100dvh - 103px);object-fit:cover;transform:translate(-50%, 0);}
/* .ets_wrap.main .shorts_main .video-container .video-box::after {position:absolute;z-index:1;left:0;top:0;right:0;bottom:0;content:'';display:block;width:100%;height:100%;background:linear-gradient(rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%);} */
.ets_wrap.main .shorts_main .video-container .video-box::after {position:absolute;z-index:1;left:0;top:0;right:0;bottom:0;content:'';display:block;width:100%;height:100%;background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,1));}
.ets_wrap.main .shorts_main .progress-bar-container {position:absolute;z-index:3;top:calc(100vh - 1px);top:calc(100dvh - 1px);width:100%;height:1px;background:#353535;}
.ets_wrap.main .shorts_main .progress-bar {position:absolute;left:0;top:0;width:0%;height:100%;background:#00FFD2;transition:width 0.1s linear;}
.ets_wrap.main .shorts_main .btn_play {font-size:0;text-indent:-9999em;}
.ets_wrap.main .shorts_main .btn_play.stop {position:absolute;z-index:3;top:50%;left:50%;width:86px;height:86px;margin:-43px 0 0 -43px;background:url('https://img.etoos.com/enp/front/2024/main/btn_play.png') no-repeat 50% 0;background-size:86px auto;}
.ets_wrap.main .shorts_container .video-description {overflow:hidden;position:absolute;z-index:2;left:0;top:100vh;top:100dvh;right:0;padding:0 64px 24px 16px;-webkit-transform:translateY(-100%);transform:translateY(-100%);}
.ets_wrap.main .shorts_container .video-description .description-teacher {display:flex;align-items:center;justify-content:flex-start;-webkit-flex-direction:row;flex-direction:row;}
.ets_wrap.main .shorts_container .video-description .description-teacher .img {position:relative;display:inline-block;width:32px;height:32px;background:#fff;border-radius:50%;overflow:hidden;}
.ets_wrap.main .shorts_container .video-description .description-teacher .img img {position:absolute;left:50%;top:2px;width:40px;margin-left:-18px;}
.ets_wrap.main .shorts_container .video-description .description-teacher .name {margin-left:8px;color:#fff;font-size:14px;font-weight:400;}
.ets_wrap.main .shorts_container .video-description .description-teacher .name .subj {font-weight:400;}
.ets_wrap.main .shorts_container .video-description .description-info {color:#fff;font-size:14px;line-height:21px;}
.ets_wrap.main .shorts_container .video-description .description-title {display:block;margin-top:4px;color:#fff;font-weight:300;word-wrap:break-word;}
.ets_wrap.main .shorts_container .video-description .description-title.ellipsis {overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;}
.ets_wrap.main .shorts_container .video-description .description-tag {margin-top:4px;font-weight:500;}
.ets_wrap.main .shorts_container .video-description .description-tag .hashtag strong {color:#00FFD2;}
.ets_wrap.main .shorts_container .video-description .description-banner {margin-top:14px;}
.ets_wrap.main .shorts_container .video-description .description-banner .description-link + .description-link {margin-top:4px;}
.ets_wrap.main .shorts_container .video-description .description-banner .description-link .link {display:block;padding:9px;background-color:#F5F3F3;border-radius:8px;color:#222;font-size:14px;text-align:center;}
.ets_wrap.main .shorts_container .video-feedback {overflow:hidden;position:absolute;z-index:2;top:100vh;top:100dvh;right:0;flex-wrap:wrap;display:flex;align-items:center;justify-content:center;flex-direction:column;box-sizing:border-box;width:64px;padding:0 0 13px;-webkit-transform:translateY(-100%);transform:translateY(-100%);}
.ets_wrap.main .shorts_container .video-feedback .btn_volume::before {background-image:url('https://img.etoos.com/enp/front/2024/main/ic_volume.png');}
.ets_wrap.main .shorts_container .video-feedback .btn_volume.mute::before {background-image:url('https://img.etoos.com/enp/front/2024/main/ic_volume_mute.png');}
.ets_wrap.main .shorts_container .video-feedback .btn_view::before {background-image:url('https://img.etoos.com/enp/front/2024/main/ic_view.png');}
.ets_wrap.main .shorts_container .video-feedback .btn_like::before {background-image:url('https://img.etoos.com/enp/front/2024/main/ic_like.png');}
.ets_wrap.main .shorts_container .video-feedback .btn_like.on::before {background-image:url('https://img.etoos.com/enp/front/2024/main/ic_like_on.png');}
.ets_wrap.main .shorts_container .video-feedback .btn_share::before {background-image:url('https://img.etoos.com/enp/front/2024/main/ic_share.png');}
.ets_wrap.main .shorts_container .video-feedback .btn_more::before {background-image:url('https://img.etoos.com/enp/front/2024/main/ic_more.png');}
.ets_wrap.main .shorts_container .video-feedback .hidden {opacity:0;visibility:hidden;}
.ets_wrap.main.shorts .shorts_main .video-container .video-box video {top:0;height:100vh;height:100dvh;}
/* append test */
.ets_wrap.main .btn_append {position:absolute;z-index:111;right:10px;top:115px;padding:5px 10px;border:2px solid #fff;color:#fff;} 
.ets_wrap.main.shorts .btn_append {top:60px;}
/* shorts_header */
.shorts_header {
    padding-top: env(safe-area-inset-top) !important;
    padding-top: constant(safe-area-inset-top) !important;
}
.shorts_header {position:relative;align-items:center;justify-content:center;box-sizing:border-box;width:100%;height:60pxã…£;}
.shorts_header .inner_header {position:relative;width:100%;height:60px;padding:10px;flex-wrap:wrap;display:flex;align-items:center;justify-content:center;-webkit-flex-direction:row;flex-direction:row;box-sizing:border-box;text-align:center;}
.shorts_header .inner_header [class^="inner_"] {display:flex;align-items:center;flex-direction:row;box-sizing:border-box;width:calc(100% / 3);}
.shorts_header .inner_header .inner_left {justify-content:flex-start;}
.shorts_header .inner_header .inner_center {justify-content:center;}
.shorts_header .inner_header .inner_right {justify-content:flex-end;}
.shorts_header .inner_header .btn_prev {display:block;width:40px;height:40px;background:url('https://img.etoos.com/enp/front/2024/main/ic_arrow.png') no-repeat center center;background-size:40px auto;}
.shorts_header .inner_header .btn_close {display:block;width:40px;height:40px;background:url('https://img.etoos.com/enp/front/2024/main/ic_close.png') no-repeat center center;background-size:40px auto;}
.shorts_header .logo {position:relative;margin-top:8px;display:inline-block;width:74px;height:24px;background:url('https://img.etoos.com/enp/front/2024/main/logo_E;Clips.png') no-repeat center center;background-size:74px auto;}
.main .shorts_header {position:fixed;z-index:110;left:0;top:0;right:0;}